.saga-monitor {
  font-family: monospace;
  font-size: 14px;
  color: rgb(33,33,33);
  height: 100%;
  width: 100%;
}

.saga-monitor * {
  box-sizing: border-box;
}

.saga-monitor [hidden] {
  visibility: hidden;
}

.saga-monitor-header {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(204, 204, 204);
  position: relative;
}

.saga-monitor-header hr {
  background-color: rgb(56, 121, 217);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: none;
  height: 2px;
  margin: 0;
  position: absolute;
  bottom: -1px;
  transition: .2s ease-in-out;
}

.saga-monitor-option {
  padding: 5px 10px;
  width: 80px;
  cursor: pointer;
}

.saga-monitor-option:hover {
  background-color: rgb(220, 220, 220);
}

.saga-monitor-body {
  position: absolute;
  top: 30px;
  bottom: 0;
  width: 100%;
}
