.row {
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.cell {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}
