.effect-list {
  outline: none;
  cursor: default;
  user-select: none;
}

.effect-list_highlight {
  background-color: rgb(223, 240, 216) !important;
  border-top: 1px solid rgb(70, 136, 71);
  border-bottom: 1px solid rgb(70, 136, 71);
  margin-top: -1px;
}
