.effect-entry-toolbar {
  cursor: pointer;
  position: absolute;
  right: 0;
  top:0;
  visibility: hidden;
}

.effect-entry {
  padding: 2px 40px 2px 10px;
  position: relative;
}

.effect-entry:hover .effect-entry-toolbar {
  visibility: visible;
}


.effect-entry_error {
  background-color: hsl(0, 100%, 97%);
  border-top: 1px solid hsl(0, 100%, 92%);
  border-bottom: 1px solid hsl(0, 100%, 92%);
  margin-top: -1px;
}
