
.result-separator {
  margin: 0 0.5em;

}

.result_winner {
  color: rgb(85, 139, 47);
}

.result_cancelled {
  color: rgb(233, 30, 99);
}

.result-error {
  color: rgb(230, 25, 25);
}

.result-pending {
  font-size: 0.6em;
  vertical-align: super;
}
